* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

#background-header {
    display: flex;
    padding: 20px;
    background-color: rgb(81, 81, 241);
    justify-content: center;
}

#background-header > * {
    padding: 0px 9px;
}

#psu-logo {
    width: 100px;
}

#logo-label {
    margin: auto 0px;
}

#logo-label h1, #logo-label h2 {
    color: rgb(30, 30, 125);
}

#logo-label h3 {
    margin: 3px 0px;
    color: rgb(255, 255, 112);
    
}